
$default-font: 'Sans-serif', sans-serif;

$font-sizes: (
  "small": 14px,
  "medium": 16px,
  "medium2": 18px,
  "large": 20px,
  "xl": 24px,
  "xxl": 28px
);

$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 600,
  "extraBold": 700
);

$primary-color: #FF9500;
$secondary-color: #EBEBEB;
$background-color: #F6F8F9;
$text-color: #424242;